* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Tahoma";
  font-weight: 400;
  background-image: url("../Images/background.jpg");
  background-size: cover;
  text-align: justify;
  margin: 0;
}

.admin-header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: #51a7a7;
  display: none;
}

.admin-header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  padding: 0 20px;
  float: left;
}

.admin-header h1 {
  margin-left: 45px;
  float: left;
}

.admin-header select {
  background-color: #51a7a7;
  border-style: none;
  color: #ffffff;
  font-size: 24px;
  min-width: 50px;
  cursor: pointer;
  margin: 0 20px;
  float: left;
}

.admin-header nav {
  padding: 25px;
  float: right;
}

@media screen and (max-width: 860px) {
  .admin-header h1 {
    float: none;
    display: block;
    margin-bottom: 0;
  }
  .admin-header a {
    float: none;
    display: block;
    padding: 10px 20px;
  }
  .admin-header select {
    float: none;
    display: block;
    margin: 10px 20px;
  }
  .admin-header nav {
    float: none;
  }
}

#dis {
  display: none;
}

.user-header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: #51a7a7;
  display: none;
}

.user-header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  padding: 0 20px;
  float: left;
}

.user-header h1 {
  margin-left: 45px;
  float: left;
}

.user-header nav {
  padding: 25px;
  float: right;
}

@media screen and (max-width: 720px) {
  .user-header h1 {
    float: none;
    display: block;
    margin-bottom: 0;
  }
  .user-header a {
    float: none;
    display: block;
    padding: 10px 20px;
  }
  .user-header nav {
    float: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 90%;
  border-color: #187575;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  background-color: #e4e0e0;
}

.container br {
  display: block;
  content: "";
  margin: 10px 0;
}

.name, .dates {
  margin-left: 20px;
}

.content {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #187575;
}

.content p {
  margin: 20px 20px;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.date {
  margin-left: 5px;
}

.links-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links-user a {
  background-color: #51a7a7;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 14px 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.links-user a:hover {
  background-color: #187575;
  color: #e4e0e0;
}

.links-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.links-admin a {
  background-color: #51a7a7;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 14px 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.links-admin a:hover {
  background-color: #187575;
  color: #e4e0e0;
}
/*# sourceMappingURL=article.css.map */