$main-color: rgb(81, 167, 167);
$text: rgb(163, 162, 162);
$white: #ffffff;
$red: rgb(300, 112, 112);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../Images/background.jpg");
  background-size: cover;
  font-family: "Tahoma";
  height: 825px;
}

.center {
  display: block;
  width: 400px;
  margin: 80px auto;
  background: $white;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: $main-color;

  h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1.5px solid $text;
    color: $main-color;
    font-weight: 700;
  }

  form {
    padding: 0 40px;
    box-sizing: border-box;
  }
}

.text-field {
  position: relative;
  border-bottom: 2px solid $text;
  margin: 30px 0;

  input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }

  label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: $text;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }

  span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: $main-color;
    transition: 0.5s;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -5px;
    color: $main-color;
  }
}

.moderator {
  color: $main-color;
  margin-bottom: 25px;
  margin-left: 1px;

  p {
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.radio {
  margin-top: 15px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: $main-color;
  border-radius: 25px;
  font-size: 18px;
  color: $white;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    border-color: $main-color;
    transition: 0.5s;
  }
}

.login {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: $text;

  a {
    color: $main-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#error {
  color: $red;
  margin-bottom: -10px;
  margin-top: 20px;
  margin-left: 5px;
  visibility: hidden;
}
